/* Code Blocks Here */
.ratings-container {
    width: 100%;
    margin: auto;
}

.ratings-container .ratings-content {
    padding: 8px 15px;
    width: 100%;
    margin: 0 auto 0 auto;
}

.ratings-content .table-container {
    margin-bottom: 20px;
}

.ratings-content .main-table {
    border-collapse: collapse;
    border: 1px solid gray;
    width: 100%;
    margin: auto;
}

.main-table tr th, td {
    border: 1px solid gray;
}

.main-table td {
    padding: 6px;
    width: 4.28%;
}

.main-table tr :not(td:first-child) {
    text-align: center;
}

.main-table td a {
    text-decoration: none;
    color: initial;
}

.main-table tr:nth-child(odd) {
    background-color: #F3F4F6;
    color: #000000;
}

.main-table tr th {
    font-family: "Times New Roman";
    padding: 5px;
}

.main-table .average {
    font-weight: bold;
    font-family: Helvetica;
    text-align: center;
    font-size: 16px;
}

.main-table {
    width: 100%;
    margin: auto;
}